<div id="events">
  <table class="border-collapse table-auto w-full text-sm">
    <thead>
      <tr>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Title</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Kind</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Description</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Start time</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Duration</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">End time</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Fixed</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Action</th>
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-slate-800">     
      <% if events.where("start_time > ?", Date.today.beginning_of_day).present? %>
        <% @sorted_days.each_with_index do |day, index| %>
          <tr class=" bg-sky-500/100">
            <div class="my-2 bg-sky-500/100">
              <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-black text-xl">
                <%= day.capitalize %>
              </td>
              <td class="border-b border-slate-100 dark:border-slate-700 p-4">
                <%= (Date.today+index).strftime("%Y-%m-%d") %> (KW <%= (Date.today+index).strftime('%V') %>)
              </td>
              <% 5.times do %>
                <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">                
                </td>
              <% end %>
              <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8">
                <%= link_to new_event_path(date_from_today_view: (Date.today+index)), data: { turbo: false } do %>
                  <span class="material-symbols-outlined">add_box</span>
                <% end %>
              </td>
            </div>
          </tr>
          <% if events.where(start_time: (Date.today+index).beginning_of_day..(Date.today+index).end_of_day).present? %>
            <% events.where(start_time: (Date.today+index).beginning_of_day..(Date.today+index).end_of_day).each_with_index do |event, i| %> 
              <tr>
                <div class="my-2">
                  <%= render event %>
                  <td class="border-b border-slate-100 dark:border-slate-700 p-4 pr-8 text-slate-500 dark:text-slate-400">
                    <p>
                      <%= link_to "Anzeigen", event, class: "underline" %>                      
                    </p>
                    <p>
                      <%= link_to "Editieren", edit_event_path(event), class: "underline" %>
                    </p>
                  </td>
                </div>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <div>
                <td class="px-8 py-4 text-slate-500 dark:text-slate-400">
                  <p>
                    Keine Einträge vorhanden
                  </p>
                </td>
              </div>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <div class="my-2">
            <td class="p-8 text-slate-500 dark:text-slate-400">
              <p>
                Keine Einträge vorhanden
              </p>
            </td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>