<div class="flex items-center justify-between flex-wrap mb-16">
  <div class="flex flex-wrap my-12 items-center">
      <%= link_to events_path(current_view: "today"), data: { turbo: false } do %>
        <h1 class="font-bold text-4xl text-blue-500">Kalender</h1>
      <% end %>  
    <%= link_to new_event_path(date_from_today_view: (Date.today)) do %>
      <button class="bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded ml-12">
        + Neuer Kalendereintrag
      </button>
    <% end %>
  </div>

  <div class="grid grid-cols-1 gap-2">
    <div class="flex justify-end space-x-1">
      <%= link_to events_path(current_view: "today"), data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Ansicht heute">
          <span class="material-symbols-outlined inline-block align-middle">calendar_today</span>
        </button>
      <% end %>
      <%= link_to events_path(current_view: "this_week"), data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Ansicht diese Woche">
          <span class="material-symbols-outlined inline-block align-middle">calendar_view_week</span>
        </button>
      <% end %>
      <%= link_to events_path(current_view: "this_month"), data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Ansicht dieser Monat">
          <span class="material-symbols-outlined inline-block align-middle">calendar_month</span>
        </button>
      <% end %>
      <%= link_to events_path(current_view: "this_year"), data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Ansicht dieses Jahr">
          <p class="inline-block align-middle"><%= Date.today.year %></p>
        </button>
      <% end %>
      <%= link_to reschedule_past_events_path, data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Reschedule Past Events">
          <span class="material-symbols-outlined inline-block align-middle">history</span>
        </button>
      <% end %>  
      <%= link_to export_events_to_csv_path(format: 'csv'), data: { turbo: false } do %>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded" title="Export Events to CSV">
          <span class="material-symbols-outlined inline-block align-middle">csv</span>
        </button>
      <% end %>
    </div>
    <%
=begin%>
 <div>
      <%= link_to reschedule_events_path(sort_by: "priority"), data: { turbo: false }, class: "mr-2" do %>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-3 rounded" title="Reschedule by Priority">
          <span class="material-symbols-outlined inline-block align-middle">autorenew</span>
        </button>
      <% end %> 
      Reschedule by Priority
    </div>
    <div>
      <%= link_to reschedule_events_path(sort_by: "duration"), data: { turbo: false }, class: "mr-2" do %>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-3 rounded" title="Reschedule by Duration">
          <span class="material-symbols-outlined inline-block align-middle">autorenew</span>
        </button>
      <% end %>
      Reschedule by Duration 
    </div> 
<%
=end%>
    <div>
      <%= form_with(mode: Event, url: reschedule_events_path, method: :get) do |form| %>
        <div class="flex mt-2">
          <div class="mr-2">
            <%= form.label "PROJECT (OPTIONAL)", style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <%= form.select :project, Event.project_names.unshift("none"), { selected: "Default" }, class: "appearance-none block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white", style: "width:200px" %>
          </div>
          <div class="mr-2">
            <%= form.label :sort_by, style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <%= form.select :sort_by, ["priority", "duration"], { selected: "priority" }, class: "appearance-none block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white", style: "width:150px" %>
          </div>
          <div class="pb-2 pt-6">
            <%= form.submit "Reschedule Events", class: "h-full cursor-pointer bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<% if session[:current_view] == "today" %>
  <%= render "view_today", events: @events %>

  <div class="bg-slate-200 p-5 md:w-1/3 mt-12">
    <%= form_tag import_events_from_csv_path, multipart: true do %>
      <p class="underline text-lg">Import Events from CSV:</p>
      <div>
        <%= file_field_tag :file %>
        <%= submit_tag "Importieren", class: "cursor-pointer bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mt-4", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
  <div class="bg-slate-200 p-5 md:w-1/3 mt-12">
    <p class="underline text-lg mb-4">Aufgaben:</p>
    <p>Erledigt: <%= Event.where(done: true).count%></p>
    <p>Unerledigt: <%= Event.where(done: true).count%></p>
  </div>
<% elsif session[:current_view] == "this_week" %>
  <%= render "view_this_week", events: @events %>
<% elsif session[:current_view] == "this_month" %>
  <%= render "view_this_month", events: @events %>
<% elsif session[:current_view] == "this_year" %>
  <%= render "view_this_year", events: @events %>
<% else %>
  <%= render "view_this_week", events: @events %>
<% end %>