<p style="color: green"><%= notice %></p>

<div class="flex items-center justify-between flex-wrap">
  <div class="flex flex-wrap my-12 items-center">
    <h1 class="font-bold text-4xl text-blue-500">Kalender</h1>
    <%= link_to new_event_path do %>
      <button class="bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded ml-12">
        + Neuer Kalendereintrag
      </button>
    <% end %>
  </div>

  <div>
    <%= link_to events_path(view: "today") do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded">
        <span class="material-symbols-outlined inline-block align-middle" title="Ansicht heute">calendar_today</span>
      </button>
    <% end %>
    <%= link_to events_path(view: "this_week") do %>
     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded">
        <span class="material-symbols-outlined inline-block align-middle" title="Ansicht diese Woche">calendar_view_week</span>
      </button>
    <% end %>
    <%= link_to events_path(view: "this_month") do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded">
        <span class="material-symbols-outlined inline-block align-middle" title="Ansicht dieser Monat">calendar_month</span>
      </button>
    <% end %>
    <%= link_to events_path(view: "this_year") do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-3 rounded">
        <p class="inline-block align-middle" title="Ansicht dieses Jahr"><%= Date.today.year %></p>
      </button>
    <% end %>
  </div>
</div>

<% if @view == "view_today" %>
  <%= render "view_today", events: @events %>
<% elsif @view == "view_this_week" %>
  <%= render "view_this_week", events: @events %>
<% elsif @view == "view_this_month" %>
  <%= render "view_this_month", events: @events %>
<% end %>