<!DOCTYPE html>
<html>
  <head>
    <title>LifeManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  </head>

  <body class="mx-16 mb-16 mt-8">
    <% if flash[:notice] %>
      <div class="bg-orange-300 mb-8">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] || flash[:error] %>
      <div class="bg-red-300 mb-8">
        <%= flash[:notice] || flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
